@import "var.scss";
@import 'mixins.scss';

body {
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

.z-dialog {
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;

  .el-dialog__header {
    position: relative;
    background-color: $--color-primary;
    padding: 10px 30px;
    min-height: 14px;
    user-select: none;

    .el-dialog__title {
      color: $--color-white;
      font-size: 14px;
    }

    .el-dialog__headerbtn {
      top: 50%;
      transform: translateY(-50%);
      right: 10px;

      &.full-screen {
        right: 35px;
      }

      .el-icon {
        color: $--color-white;
      }
    }
  }

  .el-dialog__body {
    overflow: auto;
    max-height: 500px;
    padding: 10px;
    @include scroll-bar;
  }

  .el-dialog__footer {
    height: 62px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
  }

  &.is-fullscreen {
    height: 100vh;
    width: 100vw;

    &.no-btn-group {
      .el-dialog__body {
        height: calc(100vh - 64px);
      }
    }

    .el-dialog__body {
      height: calc(100vh - 64px - 62px);
      max-height: none;
      overflow: hidden;
      overflow-y: auto;
      @include scroll-bar;
    }
  }
}

.z-card {
  background-color: $--color-white;
  border: 1px solid;
  padding: 20px;
  border-radius: 4px;

  +.z-card {
    margin-top: 20px;
  }

  &.primary {
    border-color: $--color-primary;
  }

  &.danger {
    border-color: $--color-danger;
  }

  &.success {
    border-color: $--color-success;
  }

  &.info {
    border-color: $--color-info;
  }

  &.warning {
    border-color: $--color-warning;
  }

  &.default {
    border-color: #EBEEF5;
  }
}

.z-control-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;

  .title-layout {
    flex: 1;
    display: flex;
    align-items: center;
    line-height: 14px;
    user-select: none;

    .total {
      color: $--color-info;
      font-size: 12px;
      margin-left: 10px;
      line-height: inherit;
      vertical-align: bottom;
    }

    &::before {
      content: "";
      display: inline-block;
      width: 5px;
      height: 1em;
      background: $--color-primary;
      margin-right: 5px;
      border-radius: 3px;
    }
  }
}

.z-crud {
  margin: 0;
  width: 100%;
}
